body
{
  font-size: 120%;
  overflow: hidden;
}

/***************
*    PANELS    *
***************/

#panel
{
  display: -moz-box;
  -moz-box-orient: horizontal;
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  height: 100%;
  width: 100%;
}

/***************
*  LEFT PANEL  *
***************/

#leftPanel
{
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  height: 100%;
  width: 35%;
  background-color: white;
}

#leftPanel>div
{
  width: calc(100% - 10px);
  margin-top: 5px;
}

#jsScriptParent
{ 
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  background-color: white;
  position: relative;
}

#jsScript
{
  position: absolute;
  width: 100%;
  height: 100%;
}


/****************
*  RIGHT PANEL  *
****************/

#rightPanel
{
  display: -moz-box;
  -moz-box-flex: 2;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-box-flex: 2;
  -webkit-box-orient: vertical;
  height: 100%;
  width: 100%;
  background-color: white;
}

#tableCanvas
{
  -moz-box-flex: 1;
  -moz-box-align: center;
  -webkit-box-flex: 1;
  -webkit-box-align: center;
  border: solid 1px;
  overflow: auto;
}

.CodeMirror {
  border: 1px solid;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
