input[type=button] {
    padding-left: 1em;
    padding-right: 1em;
}

select {
    min-width: 10em;
    max-width: 95%;
    max-height: 20em;
}

.bold {
    font-weight: bold;
}

.tab {
    display: inline-block;
    width: 2em;
}


/* Column-wise settings */

.left-column {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    left: 0px;
    width: 200px;
}

.right-column {
    overflow-x: auto;
    margin-left: 220px;  /* = left-column-width + 2 * (margin + padding + border) */
}

#resizer {
    position: absolute;
    width: 4px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: #ddd;
    /* border: 1px solid orange; */
}

#resizer:hover {
    cursor: e-resize;
    background-color: #aaa;
}


/* Boxes format */

body {
    background-color: #fafafa;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
}

body > div {
    background-color: white;
    margin: 6px;
    padding: 3px;
    border: 1px solid gray;
}

#menu {
    top: 0px;
    bottom: 0px;
    z-index: +1;
}

#images {
}

#editing {
}

#outputs {
}

#outputs:empty::after {
    content: 'Nothing to be displayed :(';
    display: block;
    margin: 1em;
}