#images {
    display: block;
    height: 50px;
    border: 1px solid #e6e6e6;
    padding: 3px;
    margin-top: 7px;
    border-radius: 3px;
}

#imageSelector {
    border-radius: 3px;
    background-color: #BBB;
    padding: 10px;
    top: 10px;
    left: 10px;
    width: auto; 
    height: auto;
    position: fixed;
    display: inline-block;
}

#uiLeft {
    border-radius: 3px;
    background-color: #BBB;
    padding: 10px;
    top: 130px;
    left: 10px;
    width: 170px; 
    height: auto;
    position: fixed;
    display: inline-block;
}

#uiRight {
    border-radius: 3px;
    background-color: #BBB;
    padding: 10px;
    top: 10px;
    right: 10px;
    width: 170px; 
    height: auto;
    position: fixed;
    display: inline-block;
}
